* {
    margin: 0;
    padding: 0;
}
.CartViewContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    border: 1px solid black;
}