.NavBar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 10px;
    background-color: orange;
}

h2 {
    padding: 15px;
}

ul {
    display: flex;
}

li {
    list-style: none;
    text-decoration: none;
    padding: 20px;
}
